* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  #nav-items li {
    display: inline-block;
    position: relative;
    flex: 1;
  }
  #nav-items {
    padding: 30px 100px;
    font-size: medium;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .landing-page {
    min-height: 100vh;
    background-image:url(images/pexels-becerra-govea-photo-5773996.jpg);
    background-position: center;
    background-size: cover;
  }
  #logo-img {
    width: 175px;
    height: 135px;
  }
  
  .drop {
    background: transparent;
    color: white;
  }
  
  #menu,
  #order,
  #catering {
    background: none;
    color: white;
    border: none;
  }
  
  #nav-items .drop ul a {
      color: rgb(196, 179, 179);
  }
  
  #nav-items a {
    text-decoration: none;
    color: white;
  }
  
  .drop ul {
    display: none;
    position: relative;
    top: 60px;
    background-color: black;
    font-size: small;
  }
  
  #nav-items > li {
    padding: 20px;
  }
  
  #nav-items li:hover ul {
    display: block;
    position: absolute;
    width: 150px;
  }
  
  #max li {
    width: 190px;
    background-color: black;
  }
  
  #nav-items li:hover ul li {
    display: block;
    border-bottom: 1px rgb(83, 80, 80) groove;
  
    padding: 5px 10px;
    box-sizing: content-box;
  }
  
  #nav-items li:hover ul li:last-child {
    border-bottom: none;
  }
  
  #logo-img {
    position: relative;
    left: 100px;
  }
  nav {
    background-image: linear-gradient(
      rgb(0, 0, 0, 0.75),
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.01)
    );
  }
  
  .textbox{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      font-family: 'Lato', sans-serif;
       
  }
  
  .textbox h1{
      font-size: 8rem;
      font-weight: 900;
  }
  
  .textbox h2{
      font-size: 4rem;
      font-weight: 900;
  }
  


.storyline{
    display: flex;
    padding: 10% 6% 6% 8%;
    height: 120vh;
    width: 100%;
   
    background-image: url("images/texture.jpg");
    background-position: center;
    background-size: cover;
    
}

.story-img{
    width: 33%;
    height: 80%;
    margin-right: 1%;
}


.story{
    
    padding: 3%;
    background-color: snow;
    position:absolute;
    width: 40%;
    transform: translate(0,40px);
    left: 55%;
    
    
}

.story h1{
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   margin-bottom: 10px;
   font-size: 3.5rem;
   font-weight: 300;
}
.story p{
    font-family: 'Lato', sans-serif;
    line-height: 1.8;
    font-size: small;
}
.parallax{
    min-height: 50vh;
   
    background: center/cover url(images/pexels-syed-saud-ahmed-6850423.jpg)
    no-repeat fixed ;
}


.special-menu{
  min-height: 120vh;
  width: 100%;
  background: center/cover url("images/texture.jpg") no-repeat ;
   
}

.special-menu h1 {
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 5.5% 0;
  
}

 

#table-menu{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  height: 80%;
  width: 100%;
}
.bold-items td{
  padding: 3% 0;
}
.descp{
  color: rgb(82, 77, 77);
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}
.bold-items{
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  
}

.special-menu h2 {
  font-size: 1.6rem;
  font-weight: 400; 
  border-bottom: rgb(119, 115, 119) solid 1.5px;
  display: inline-block;
  padding-bottom: 2px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3.5px;
}
#table-menu .img{
  
  width: 775px;
  height: 595px;
  background-image:url("images/pexels-engin-akyurt-5379639.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 40%;
}
 
.money{
 
   
  text-align: right;
}
.table{
  width: 40%;
  position: absolute;
  left: 90px; background: rgb(255, 255, 255);
   padding: 40px; 
   z-index: 2; 
   display: block; 
   transform: translate(0, 10%);
  }









  .body{
    min-height: 400vh;
    width: 100%;
    background: center/cover url("images/texture.jpg") no-repeat ;
     
  }
  .second-menu{
    min-height: 120vh;
    width: 100%;
    display: flex;
    
  }
  
   
  
  
  .bold-items1 td{
    padding: 3% 0;
  }
  .descp1{
    color: rgb(82, 77, 77);
    font-family: 'Lato', sans-serif;
    font-size: 13px;
  }
  .bold-items1{
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    
  }
  
  .second-menu h2 {
    font-size: 1.6rem;
    font-weight: 400; 
    border-bottom: rgb(119, 115, 119) solid 1.5px;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3.5px;
  }
  .second-menu .img1{
    
    width: 650px;
    height: 500px;
    background-image:url("images/pexels-shameel-mukkath-6089827.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(20%, 30%);
    
  }
   
  .money1{
   
     
    text-align: right;
  }
  .table1{
    width: 40%;
    height: 85%;
    background: rgb(255, 255, 255);
     padding: 40px; 
     z-index: 2; 
     display: block; 
     transform: translate(15%, 45%);
    }


footer{
  
  width: 100%;
  background-color:rgb(37, 36, 36);
  display: flex;
  justify-content: center;
  transition: 0.8s;
  
  
}

.we{
  
  width: 30%;
  padding: 4% 0 ;
}
.we p{
  margin-top: 2em;
  color: rgb(172, 162, 162);
  font-family: 'Lato', sans-serif;
  font-size: 0.85rem;
  line-height: 2em;
}

.contact{
   
  width: 25%;
  color: snow;
  font-family: 'Lato', sans-serif;
  font-size: smaller;
  
}
.contact a{
  text-decoration: none;
  color: snow;
   

}
.social{
  margin-top:2em;
}
.message{
  font-size: 0.8rem;
}
.contact h3{
  margin: 5em 0 1.9em 0;
  font-size: 0.85rem;

  
}

.links{
  width: 25%;
  font-family: 'Lato', sans-serif;
  line-height: 2.5em;
  color: snow;
  font-size: 0.85rem;

}

.links h3{
  margin-top: 2em;
  font-size: 0.85rem;
  
}




footer a:hover{
  color:rgb(241, 175, 52);
}




/* .end-logo{
  width: 10%;
  height: 5%;
  margin:5% 0 0 11%;
} */
/* .we p{
  color: snow;
  
} */
/* .links h3{
  color: snow;
  font-size: smaller;


} */





