

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    /* min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1606851686066-c7f17f1ece96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGZvb2R8ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-size: cover;
     */


}
#nav-items li{
    display: inline-block;
    position: relative;
    
    
} 
#nav-items{
    padding: 20px 30px;
}
.landing-page{
    min-height: 100vh;
    background-image: url(images/pexels-becerra-govea-photo-5773996.jpg);
    background-position: center;
    background-size: cover;
    
}
#logo-img{
    width: 175px;
    height: 135px;
}
