* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  #nav-items li {
    display: inline-block;
    position: relative;
    flex: 1;
  }
  #nav-items {
    padding: 30px 100px;
    font-size: medium;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .landing-page {
    min-height: 100vh;
    background-image: url(images/pexels-becerra-govea-photo-5773996.jpg);
    background-position: center;
    background-size: cover;
  }
  #logo-img {
    width: 175px;
    height: 135px;
  }
  
  .drop {
    background: transparent;
    color: white;
  }
  
  #menu,
  #order,
  #catering {
    background: none;
    color: white;
    border: none;
  }
  
  #nav-items .drop ul a {
      color: rgb(196, 179, 179);
  }
  
  #nav-items a {
    text-decoration: none;
    color: white;
  }
  
  .drop ul {
    display: none;
    position: relative;
    top: 60px;
    background-color: black;
    font-size: small;
  }
  
  #nav-items > li {
    padding: 20px;
  }
  
  #nav-items li:hover ul {
    display: block;
    position: absolute;
    width: 150px;
  }
  
  #max li {
    width: 190px;
    background-color: black;
  }
  
  #nav-items li:hover ul li {
    display: block;
    border-bottom: 1px rgb(83, 80, 80) groove;
  
    padding: 5px 10px;
    box-sizing: content-box;
  }
  
  #nav-items li:hover ul li:last-child {
    border-bottom: none;
  }
  
  #logo-img {
    position: relative;
    left: 100px;
  }
  nav {
    background-image: linear-gradient(
      rgb(0, 0, 0, 0.75),
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.01)
    );
  }
  
  .textbox{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      color: white;
      font-family: 'Lato', sans-serif;
       
  }
  
  .textbox h1{
      font-size: 8rem;
      font-weight: 900;
  }
  
  .textbox h2{
      font-size: 4rem;
      font-weight: 900;
  }